body {
    height: 100vh;
    background-color: #d3d3d3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1020px;
    background-color: #fff;
    border: 1px solid #000;
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h2 {
    text-align: center;
}

hr {
    margin: 1em 0 3em 0;
    width: 100%;
}

table {
    /* margin: 0 auto; */
    border: 1px solid #000;
    border-collapse: collapse;
}

table thead tr td {
    text-align: center;
    font-weight: 800;
}

table tr td {
    text-align: center;
}

table tr:nth-child(even) {
    background-color: #B2DFDB;
    color: #000;
}

table tr:nth-child(odd) {
    background-color: #009688;
    color: #fff;
}

td {
    border: 1px solid #000;
    padding: 0.5em;
}